<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="final2"  thread-count="1" parallel="true">
    <listeners>
        <listener class-name="Util.config"/>
    </listeners>
    <test name="Groups">
        <groups>
            <run>
                <include name="Regression1" />
                <include name="Regression2" />
            </run>
        </groups>
        <classes>
            <class name="Test1"/>
        </classes>
    </test>

</suite>